.container {
    max-width: 768px;
    margin: 120px auto 0px auto;
}

.title {
    text-align: center;
    margin-bottom: 120px;
}

.filter-bar-body {
    padding: 12px 0px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 3px #F0F0F0;
}

.filter-result {
    padding: 0px 12px;
}